@font-face {
  font-family: "Ashik";
  src: url("./assets/fonts/Felgine-Italic.otf") format("truetype");
}

body{
  background-color: #DFE4DF;
  padding: 0px;
  margin: 0px;
  font-family: "Ashik";
}

html {
  scroll-padding-top: 70px; /* Adjust this value based on your navbar height */
}